.tit  {font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; color:#000000;}
.conteudo  {font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#000000;}
.cham  {font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#000000;}
.tab  {font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; color:#FFFFFF;}
.peq  {font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#999999;}
.det  {font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#999999;}
.fto  {font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#999999;}
.box  {font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#000000; }
.top  {font-size:15px; font-family:Arial; font-weight:bold;}
.txt  {font-size:10pt; font-family:Tahoma,Arial;line-height : 15px;}
.pop  {font-size:11px; font-family:Tahoma,Arial; color:#663333;}
.apa  {font-size:11px; font-family:Tahoma,Arial; font-weight:bold; color:#999999;}
.hr  {font-size:11px; font-family:Tahoma,Arial;Color:#4f93bb}
.blu  {font-size:9pt; font-family:Arial;line-height:10pt}
.pgm  {font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;}
.admin  {font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; color:#000000;}
a {	text-decoration:none;color:Black;}
a:hover {text-decoration:underline;color:Black;}
.button1 {font-family:Verdana;font-size:10px;color:#999999 ;background-color: #FFFFFF;border: 1px double #999999;cursor:hand;}
.button2 {font-family:Verdana;font-size:10px;color: black;background-color: #FDEC4D;border: 1px double #000000;cursor:hand;}
.table {border: 1px solid; border-color:#CCCCCC; width:420;}
.lista {border: 1px solid; border-color:#000000;}
.sl {border:1px solid;width:200px;height:60px;border-color:#999999;font-family:Verdana;font-size:10px;color:#999999;}
